<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <!-- Avatar Uploading Field -->
    <div class="control-group">
      <label class="control-label">Upload an Avatar</label>
      <div class="controls">
        <%= f.input :avatar, label: false, class: "flat" %>
      </div>
    </div>

    <!-- Username Input-->
    <div class="control-group small">
      <label class="control-label">Username</label>
      <div class="controls">
        <%= f.input :name, :autofocus => true, label: false %>
      </div>
    </div>

    <!-- First Name Input-->
    <div class="control-group small">
      <label class="control-label">First Name</label>
      <div class="controls">
        <%= f.input :first_name, :autofocus => true, label: false %>
      </div>
    </div>

    <!-- Last Name Input-->
    <div class="control-group small">
      <label class="control-label">Last Name</label>
      <div class="controls">
        <%= f.input :last_name, :autofocus => true, label: false %>
      </div>
    </div>

    <!-- Facebook Link Input-->
    <div class="control-group small">
      <label class="control-label">Facebook Link</label>
      <div class="controls">
        <%= f.input :facebook_link, :autofocus => true, label: false %>
      </div>
    </div>

    <!-- Twitter Link Input-->
    <div class="control-group small">
      <label class="control-label">Twitter Link</label>
      <div class="controls">
        <%= f.input :twitter_link, :autofocus => true, label: false %>
      </div>
    </div>

    <!-- Pinterest Link Input-->
    <div class="control-group small">
      <label class="control-label">Pinterest Link</label>
      <div class="controls">
        <%= f.input :pinterest_link, :autofocus => true, label: false %>
      </div>
    </div>

    <!-- Gender Field -->
    <div class="control-group">
      <label class="control-label">Gender</label>
      <div class="controls">
        <%= f.select :gender, [["Not Telling", 1], ["Male", 2], ["Female", 3]], label: false %>
      </div>
    </div>



    <!-- User Bio Field -->
    <div class="control-group">
      <label class="control-label">Bio</label>
      <div class="controls">
        <%= f.input :user_bio, as: :text, input_html: { rows: "3" }, label: false %>
      </div>
    </div>

    <!-- Country Field -->
    <div class="control-group">
      <label class="control-label">Location</label>
      <div class="controls">
        <%= f.input :country, label: false %>
      </div>
    </div>

    <!-- Email Input-->
    <div class="control-group small">
      <label class="control-label">Email</label>
      <div class="controls">
        <%= f.input :email, :autofocus => true, label: false %>
      </div>
    </div>

    <!-- New Password Input-->
    <div class="control-group small">
      <label class="control-label">New Password</label>
      <div class="controls">
        <%= f.input :password, :autofocus => true, label: false %>
      </div>
    </div>

    <!-- New Password Confirmation Input-->
    <div class="control-group small">
      <label class="control-label">New Password Confirmation</label>
      <div class="controls">
        <%= f.input :password_confirmation, :autofocus => true, label: false %>
      </div>
    </div>


    <div class="form-actions">
      <%= f.submit "Update", class: "btn btn-primary"%>
    </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
