<div class="row-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="span3">

    <div class="shop_owner">

      <center><b>Shop Owner</b></center>

      <div class="media">
        <a class="pull-left">
          <%= image_tag @user.avatar, class: "shop_page_avatar" %>
        </a>
        <div class="media-body">
          <b><%= @user.first_name %> <%= @user.last_name %></b><br>
          <small>From <i><%= @user.country %></i></small><br>
          <small>Member since  <%= @user.created_at.strftime("%b. %d, %Y") %></small>
        </div>
      </div>

      <hr>

      <div>
        <small>Have a Question?</small><br>
        <%= link_to "Contact the Shop Owner", "#" %>
      </div>

      <br>

      <div>
        <small>Need a custom order?</small>
        <%= link_to "Request Custom Order", "#",
                    class: "btn btn-small btn-embossed btn-block btn-info" %>
      </div>

    </div>

    <br>

    <div class="shop_owner_shop_info">
      ss
    </div>

  </div>

  <!-- Right Side-->
  <div class="span9">

    <div class="profile_page_cover">
      <%= image_tag("http://i.imgur.com/0OLC72J.jpg") %>
      <div class="shop_info">
        <b><%= @user.name %></b><br>
        <small>Best Parts on Earth</small>
      </div>

    </div>


    <hr>


    <div id="listings">
      <%= render @listings %>
    </div>


  </div>
</div>













