<div class="row-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="span3">

    <div class="shop_owner">

      <b>Shop Owner</b>
      <br>
      <br>

      <div class="">
        <%= image_tag @user.avatar, class: "shop_page_avatar" %>
      </div>

      <br>

      <div>
        <b><%= @user.first_name %> <%= @user.last_name %></b><br>
        <small>From <i><%= @user.country %></i></small>
      </div>

      <hr>

      <small>Need a custom order?</small>
      <%= link_to "Request Custom Order", "#", class: "btn btn-block btn-info" %>


    </div>

  </div>

  <!-- Right Side-->
  <div class="span9">

    <div class="profile_page_cover">
      <%= image_tag("http://i.imgur.com/0OLC72J.jpg") %>
      <div class="shop_info">
        <b><%= @user.name %></b><br>
        <small>Best Parts on Earth</small>
      </div>

    </div>


    <hr>

    <div id="listings">
      <%= render @listings %>
    </div>


  </div>
</div>













